* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #232323;
}

.d {
    background: #232323;
    width: 150px;
    margin: 20px;
}

#disp {
    color: #fefefe;
}

.moonAge {
    position: relative;
    height: 200px;
}

canvas[id*="a"] {
    position: absolute;
    top: 0px;
    left: 0px;
}
