* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #232323;
}

.moon {
    background: #232323;
    width: 150px;
    margin: 20px;
}

#moonDate {
    color: #fefefe;
}

.moonAge {
    position: relative;
    height: 200px;
}

canvas[id*="layer"] {
    position: absolute;
    top: 0px;
    left: 0px;
}

.btnWrap {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

button {
    width: 100px;
    height: 30px;
}
